<% Charity.all.each do |charity| %>
		<div class="list-item">
				<a href="#" id="<%= charity.id %>"><%=  charity.name %></a>
		</div>
<% end %>
		<div class="list-item">
				<a href="#charity" id="1" class="charity">Mott's Children Hospital</a>
		</div>

		<div id="lightbox">
				<%= form_tag('charity/confirmation', method: :get, :class => 'pretty_form', :id => 'charity_form') %>
				<label>Amount $</label><br/>
				<input type="text" name="amount"><br/>
				<label>Email</label><br/>
				<input type="text" name="email"><br/>
				<button class="submit">Pay with Venmo</button>
				</form>
		</div>
