<% Charity.all.each do |charity| %>
		<div class="list-item">
				<a href="#"><%=  charity.name %></a>
		</div>
<% end %>
		<div class="list-item">
				<a href="#charity" id="1" class="charity">Mott's Children Hospital</a>
		</div>
		<div class="list-item">
				<a href="#charity">Mott's Children Hospital</a>
		</div>

		<div id="lightbox">
				<%= form_tag('/confirmation', method: :get, :class => 'pretty_form') %>
				 <label>Amount</label>
					<input type="text" name="amount">
					<label>Email</label>
					<input type="text" name="email">
				</form>
		</div>
