					
					<div id= "home">
							
							<img src="assets/logo_white.png" class="preserve large">
							<div class="text-holder">
										<p>
												Who doesn't like a surprise? Send a gift to your friends or to charity.
										</p>
						 </div>
							<div class="button-holder">
										<a href="#friends"><div class="button">Friends</div></a>
										<a href="#charity"><div class="button">Charity</div></a>
								</div>
								<div id="footer">
										A result of MHacks 2013. <a href="https://github.com/vinayakthapliyal/SlyBuy" target="blank">GitHub</a>
								</div>
					
					</div>

					<div id= "friends">

								<div class="logo">
										<img src="assets/logo.png" class="preserve" width="150px">
								</div>
							 <div class="text-holder long">
										<p>
												Select an amount & whether you'd like to filter out NSFW presents.		
										</p>
								</div>
							<form class="pretty_form" action="/order" method="get">
												<ul>
										       <li>
																		 <label for="nsfw"><input type="checkbox" name="nsfw" value="no"/> Include NSFW products</label>
														   </li>
														   
														  <li>
																 <label for="price">Maximum price: (~$15 for best performance & most results to pick from)</label><br/>
																 <input type="text" name="price"/>
												 </li>
												
														  <li>
																 <button class="submit" type="submit">Submit Form</button>
												 </li>
														</ul>
												</form>
								<br/>	
										<a href="#home" class="home_button">Home</a>
     </div>

   		<div id= "charity">
							
							<div class="logo">
										<img src="assets/logo.png" class="preserve" width="150px">
						 </div>
							<div class="text-holder">
										<p>
												Why can't you have fun and do good? Make a donation to the charity of your choice and we'll make sure they get presents from their wishlists.
										</p>
								</div>
								<%= render partial: "charity_list" %>
								<br/><br/>
								<p style="text-align:center">Are you representing a charity and want to sign up? <a href="/charity/new">Register here!</a></p>
										<a href="#home" class="home_button">Home</a>
				</div>
 	 
