<div class="logo" style="margin-left:50px"><img src="assets/logo.png"></div>
<div class="content">
		<% if @failed %>
				Due to slow performance either by us, reddit, or amazon, this request timed out. Please go back and try again.
<% else %>
		<h2>Woot! We found a product that matched your price range! </h2>
		<p>Please fill out your shipping information below and choose your payment option. </p>
		<p>p.s. Santa Claus says thanks for giving him a day off.</p>
		<br/>
				<br/>
				<ul style ="list-style-type: none;">
						<%= form_tag('/confirmation', method: :get, :class => 'pretty_form') %>

																<li>
														  <label for="name">Full Name:</label><br/>
																  <input type="text" name="name" />
														</li>
														
														   <li>
																 <label for="email">Email:</label><br/>
																 <input type="text" name="email" />
														   </li>
														   
														  <li>
																 <label for="address1">Address line 1:</label><br/>
																 <input type="text" name="address1" />
																	</li>

														  <div>
														   <li>
																 <label for="city">City:</label><br/>
																 <input type="text" name="city" />
														  </li>
														  
														   <li>
																 <label for="state">State:</label><br/>
																 <input type="text" name="state" />
														  </li>
														  
														  
														  <li>
																 <label for="zip">Zip Code:</label><br/>
																 <input type="text" name="zip" />
														  </li>
														 
														  
														  <li>
																 <label for="country">Country:</label><br/>
																 <input type="text" name="country" />
														  </li>
														   </div>
														   
														  <li>
																 <button class="submit venmo" type="submit">Pay via Venmo</button>
												 </li>
												 
														</ul>
												</form>

										</div>
<% end %>
