/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html,body{
		background-color:#63D1F4;
		font-family: 'Raleway', sans-serif;
	 margin:0;
}
form.pretty_form {
		display:block;
		margin-right:auto;
		margin-left:auto;
}
form.pretty_form ul {
		list-style:none;
		margin-left:0px;
		padding-left:0px;
}
form.pretty_form li {
		margin-top:1.5em;
}
form.pretty_form input[type=text] {
		border:0;
		font-size:1.3em;
		height:25px;
		margin-top:10px;
		padding:5px;
		width:300px;
}
form.pretty_form button.submit {
		background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
  border:none;
  color: #333;
  text-decoration: none;
		padding:10px;
}
form.pretty_form button.submit:hover {
		background-color:#eee;
		cursor:pointer;
}
img.large {
		display:block;
		max-width:800px;
		margin-right:auto;
		margin-left:auto;
		margin-top:10%;
		width:70%;
}
ul {
		padding:0;
}
.content {
		margin-left:50px;
}
.content form.pretty_form input[type=text] {
		margin-left:0;
}
.button-holder {
		display:block;
		margin-right:auto;
		margin-left:auto;
		width:40%;
}
.text-holder {
		color:#ffffff;
		display:block;
		font-size:1.5em;
		margin-right:auto;
		margin-left:auto;
		width:40%;
}
.long {
		text-align:left;
		width:100%;
}
.button{
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border:3px white dotted;
	color:#fff;
	display:inline-block;
	float:left;
	font-size:1.5em;
	font-weight:bold;
	font-style:normal;
	height:86px;
	line-height:86px;
	margin:10px;
	text-align:center;
	text-indent:0;
	width:40%;
	/*text-shadow:1px 2px 2px #0a010a;*/
}
.button:hover {
		background-color:white;
		color:#333;
}	
button.submit.venmo {
		background-color:#00B2EE;
		font-size:1.5em;
}
.logo img {
		width:40%;
}
a.home_button {
		border:none;
		clear:both;
		color:white;
		display:block;
		font-size:1.5em;
		height:40px;
		padding:2px;
		position:relative;
		text-decoration:none;
		top:200px;
		width:100px;
}
a.home_button:hover {
		text-decoration:underline;
}
.list-item a {
		background-color:white;
		color:#333;
		display:block;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:8px;
		padding:10px;
		text-align:center;
		text-decoration:none;
		width:300px;
}
.list-item a:hover {
		background-color:#eee;
}
#lightbox {
		background:white;
		display:none;
		height:60%;
		position:absolute;
		margin-right:auto;
		margin-left:auto;
		top:100px;
		width:70%;
}
#home{
		background:#00C78C;
}
#friends{
	background: #63D1F4;
		padding-left:50px;
}
#charity{
		background: #95a2a5;
		padding-left:50px;
}
#footer {
		clear:both;
		color:#333;
		display:block;
		text-align:center;
		margin-top:40%;
		width:100%;
}


	
